@import '../../assets/variables.css';

.Services {
  margin: 20px 0;
  padding: 0 60px;

  &__wrapper {
    @media (--small) {
      display: none;
    }
  }

  &__item {
    outline: none;
    @media (--large) {
      padding: 10px;
    }

    & img {
      @media (--large) {
        width: 99px;
      }

      @media (--small) {
        width: 150px;
        margin: 0 auto;
      }
    }
  }
}
