@import '../../assets/variables.css';

.MainMenu {
  @media (--large) {
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }

  @media (--small) {
    position: absolute;
    width: calc(100% - 20px);
    top: 32px;
    left: 10px;
    display: none;
    animation: ShowDropdown 0.3s forwards;
    border-radius: 3px;
    background-color: #A0A09F;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.8);

    &--isOpen {
      display: block;
    }
  }

  &__burger {
    @media (--large) {
      display: none;
    }

    @media (--small) {
      z-index: 100;
      cursor: pointer;
      position: absolute;
      width: 50px;
      height: 50px;
      top: 10px;
      right: 10px;
      border: 1px solid #A0A09F;
      border-radius: 4px;
      outline: none;
      background-color: transparent;
    }
  }

  &__burgerLine {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #A0A09F;
    position: absolute;
    left: 10px;
    transition: 0.3s ease-in-out;

    &--one {
      top: 12px;
    }

    &--one&--isOpen {
      transform: rotate(-45deg) translate(-8px, 8px);
    }

    &--two {
      top: 22px;
    }

    &--two&--isOpen {
      opacity: 0;
    }

    &--three {
      top: 32px;
    }

    &--three&--isOpen {
      transform: rotate(45deg) translate(-6px, -8px);
    }

  }

  &__item {
    transition: color 0.4s ease 0s;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    padding: 0 10px;

    @media (--large) {
      height: 31px;
      line-height: 31px;
      color: #605E5E;
      &:hover, &--isActive {
        color: #A0A09F;
        background-color: rgba(204, 204, 204, 1);
      }
    }

    @media (--small) {
      height: 50px;
      line-height: 50px;
      display: block;
      color: #fff;
      text-align: center;
      border-bottom: 1px solid #fff;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

@keyframes ShowDropdown {
  to {
    margin-top: 40px;
  }
}
