@import '../../assets/variables.css';

.TopPageSlider {

  &__item {

    @media (--large) {
      height: 400px;
    }

    @media (--small) {
      height: 200px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }


  &__arrow {
    background-image: url('/static/images/gallery_arrows.png');
    width: 50px;
    height: 70px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    z-index: 1000;

    &--next {
      background-position: 0 -2px;
      left: 10px;
    }

    &--prev {
      background-position: 46px -2px;
      right: 10px;
    }
  }

}
