@import '../../../assets/variables.css';

.BlockTitle {
  margin-top: 30px;
  height: 40px;
  line-height: 40px;
  background-color: rgb(204, 204, 204);
  color: #FFFFFF;
  font-size: 18px;
  font-weight: normal;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
}
