@import "../../assets/variables.css";

.SectionsBlock {
  /* background-color: #CCCCCC; */
  margin: 0 0 20px 0;
  /* padding-bottom: 10px; */

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* @media (--large) {
      display: flex;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      width: calc(20% - 3px);
      flex-direction: row;
    }

    @media (--small) {
      width: 100%;
    } */

  }

  &__title {
    margin: 0;
    color: #A0A09F;
    font-size: 18px;
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;

    @media (--large) {
      height: 40px;
      line-height: 40px;
    }
  }

  &__titleSale {
    color: red;
    @media (--small) {
      display: block;
    }
  }

  &__saleInfo {
    color: #A0A09F;
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
    padding: 0;

    @media (--small) {
      display: none;
      &--isOpen {
        display: block;
      }
    }
  }

  &__showAll {
    @media (--large) {
      display: none;
    }

    @media (--small) {
      color: #A0A09F;
      font-size: 14px;
      text-align: center;
      margin: 5px 0;
      padding: 0;
      display: block;
      background-color: transparent;
      border: none;
      outline: none;
      text-align: center;
      width: 100%;

      &--isOpen {
        display: none;
      }
    }
  }
}
