@import "../../assets/variables.css";

.SectionsBlockItem {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  @media (--large) {
    width: calc(20% - 10px);
    margin: 10px 5px;
    & > * {
      display: block;
    }
  }

  @media (--small) {
    width: calc(50% - 10px);
    margin: 0 5px;
    margin-bottom: 15px;
  }

  &--isHidden {
    @media (--small) {
      display: none;
    }
  }

  &__title {
    padding: 10px 5px;
    margin: 0 0 10px 0;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: normal;
    background-color: #A0A09F;
  }

  &__info {
    color: #000000;
    font-size: 14px;
    margin: 0 10px 7px 10px;
  }

  &__link {
    display: block;
    line-height: 46px;
    height: 46px;
    text-align: center;
    color: rgb(94, 94, 94);
    text-decoration: none;
    text-transform: uppercase;
    background-color: #FFFFFF;
  }
}
