@import "../../assets/variables.css";

.TopPageGalleryThumb {
  display: block;
  margin: 0 0 10px 0;
  padding: 0;


  @media (--large) {
    width: 115px;
    height: 115px;
  }

  @media (--small) {
    width: calc(50% - 10px);
    height: auto;
  }

  &--image {

  }

  &--thumb {
    @media (--small) {
      padding-top: calc(50% - 10px);
    }

    background-position: center;
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
