@import "../../assets/variables.css";

.ProjectBlockItem {
  margin: 20px 0;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 9px;

  @media (--large) {
    width: calc(33% - 15px);
  }

  @media (--small) {
    width: 100%;
  }

  &__imageBlock {
    overflow: hidden;
    position: relative;
    display: block;
    text-decoration: none;
  }

  &__title {
    margin: 0;
    font-size: 20px;
    position: absolute;
    min-width: 200px;
    bottom: 0;
    height: 32px;
    line-height: 32px;
    vertical-align: bottom;
    background-color: rgba(256, 256, 256, 0.8);
    padding: 0 16px;
    font-weight: normal;
    color: #577083;
    outline-color: rgb(87, 112, 131);
  }

  &__image {
    width: 100%;
  }

  &__price {
    color: rgb(222, 80, 33);
    outline-color: rgb(222, 80, 33);
    font-size: 14px;
    margin: 0;
    padding: 0 16px;
  }

  &__link {
    color: #ffffff;
    display: block;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    vertical-align: center;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin: 5px 16px 10px 16px;
    background-color: rgb(204, 204, 204);
    text-decoration: none;
    margin-top: auto;
  }

  &__description {
    color: #605E5E;
    font-size: 15px;
    padding: 0;
    margin: 10px 16px;
  }

  &__sberbank {
    color: #006C2F;
    margin: 19px 15px;
    font-size: 15px;
  }
}
