@import '../../assets/variables.css';

.Attribute {
  border-bottom: 1px solid #000;
  margin-bottom: 10px;

  &__title {
    text-transform: uppercase;
    color: #605E5E;
    font-size: 18px;
  }

  &__value {
    color: #333333;
    font-weight: bold;
    font-size: 15px;
    font-stretch: 100%;
  }
}
