.HouseImages {

  &__thumbBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__thumb {
    width: calc(50% - 5px);
    margin: 0 0 5px 0;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    display: block;
    position: relative;
    padding: 0;

    img {
      width: 100%;
    }

    &:hover .HouseImages__thumbCaption {
      display: flex;
    }
  }

  &__thumbCaption {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(98, 98, 98, 0.5);
    top: 0;
    left: 0;
    align-content: center;
    color: #fff;
    padding: 0 30px;
    box-sizing: border-box;
    align-items: center;
    font-size: 18px;
  }
}
