@import '../../assets/variables.css';

.HousePage {
  &__description {
    margin: 0 0 10px;
    font-size: 14px;
    color: #605E5E;
  }

  &__content {
    @media (--large) {
      display: flex;
      justify-content: space-between;

      & > * {
        width: calc(50% - 5px);
      }
    }
  }

  &__leftBlock {
  }

  &__topImage {
    margin-bottom: 15px;

    img {
      width: 100%;
    }
  }

  &__orderLink {
    display: block;
    margin: 15px 0;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    background-color: rgb(204, 204, 204);
    color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
    vertical-align: middle;
    text-align: center;

    &:hover {
      background-color: rgb(160, 160, 160);
      transition: background-color 0.4s ease 0s;
    }
  }
}
