.Prices {
  display: flex;
  margin-top: 10px;
  color: #8F0A0A;

  & > * {
    margin-right: 5px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
    border-left: 2px solid rgb(176, 169, 134);
  }
}
