@import '../../assets/variables.css';

.LocationMap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__thumb {
    margin: 0 0 5px 0;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    display: block;
    position: relative;
    padding: 0;

    @media (--large) {
      width: calc(33% - 5px);
    }

    @media (--small) {
      width: 100%;
    }

    img {
      width: 100%;
    }

    &:hover .LocationMap__thumbCaption {
      display: flex;
    }
  }

  &__thumbCaption {
    display: none;
    position: absolute;
    width: 100%;
    height: calc(100% - 10%);
    background-color: rgba(98, 98, 98, 0.5);
    top: 0;
    left: 0;
    align-content: center;
    color: #fff;
    padding: 0 30px;
    box-sizing: border-box;
    align-items: center;
    font-size: 16px;
    margin: 0;
    border-radius: 4px;
    line-height: 1.3em;
  }
}
