@import '../../assets/variables.css';

.FeedbackForm {
  @media (--small) {
    padding: 0 10px;
  }

  &__line {

    @media (--large) {
      display: flex;
      justify-content: space-between;
    }

    &--submit {
      margin: 0 10px;
      text-align: right;
      justify-content: flex-end;
    }
  }

  &__submit {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    vertical-align: middle;
    padding: 0 20px;
    color: #fff;
    text-transform: uppercase;
    text-align: right;
    border: none;
    cursor: pointer;
    outline: none;

    &:disabled {
      cursor: default;
      background-color: #666;
    }
  }

  &__messageOuter {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  &__messageInner {
    text-align: center;
    min-width: 300px;
    z-index: 100;
    color: #ffffff;
    background-color: rgb(204, 204, 204);
    padding: 15px 30px;
    animation: show-message 0.3s;

    h3 {
      margin: 0 5px;
      padding: 0;
      font-size: 16px;
      font-weigth: normal;
    }

    p {
      margin: 0;
      padding: 0;
      font-size: 16px;
      font-weigth: normal;
    }
  }
}

@keyframes show-message {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
