@import '../../assets/variables.css';

.Advantages {

  @media (--large) {
    display: flex;
    margin: 15px 0;
    justify-content: space-between;
  }

  @media (--small) {
    margin: 0;
  }
  
  &__item {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #ffffff;

    @media (--large) {
      margin: 0 3px;
      width: 25%;
    }

    @media (--small) {
      margin: 5px 0;
    }

    &--one {
      background-color: #9FE069;
    }

    &--two {
      background-color: #29A9BA;
    }

    &--three {
      background-color: #66B564;
    }

    &--four {
      background-color: #FFD54D;
    }
  }

  &__itemTitle {
    margin: 0;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-weight: normal;

    @media (--large) {
      padding: 20px 0 10px;
    }

    @media (--small) {
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
    }
  }

  &__itemText {
    line-height: 1.4em;
    align-items: stretch;
    margin: 0;
    padding: 0 15px 25px 15px;
    font-size: 15px;

    @media (--small) {
      display: none;
    }
  }
}
