@import '../../assets/variables.css';

.LayoutInner {
  position: relative;
  
  @media (--large) {
    width: 980px;
    margin: 0 auto;
  }

  @media (--small) {
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
    box-sizing: border-box;
  }
}
