@import '../../assets/variables.css';

html,
head,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: Arial,Helvetica,sans-serif
}

.Layout {
  @media (--large) {
    padding-top: 140px;
  }

  @media (--small) {
    padding-top: 119px;
  }

  &__footer {
    color: #2F2E2E;
    font-size: 14px;
    text-align: center;
    margin: 10px;
  }

}
