.Arrow {
  background-image: url('/static/images/gallery_arrows.png');
  width: 50px;
  height: 70px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  z-index: 1000;
  opacity: 0.5;
  transition: opacity 0.4s ease 0s;

  &--prev {
    background-position: 0 -2px;
    left: 10px;
  }

  &--next {
    background-position: 46px -2px;
    right: 10px;
  }

  &:hover {
    opacity: 1;
  }
}
