{% set tableStyle = 'border: none;' %}
{% set rowStyle = 'border: none;' %}
{% set nameStyle = 'border: none; text-align: left; padding-right: 20px;' %}
{% set valueStyle = 'border: none; text-align: right; ' %}

{% block title %}Сообщение{% endblock %}

{% block order %}
  <h3>Контактные данные</h3>
  <table style="{{ tableStyle }}">
    <tr style="{{ rowStyle }}">
      <th style="{{ nameStyle }}">Имя</th>
      <td style="{{ valueStyle }}">{{ name }}</td>
    </tr>
    <tr style="{{ rowStyle }}">
      <th style="{{ nameStyle }}">Телефон</th>
      <td style="{{ valueStyle }}">{{ phone }}</td>
    </tr>
    <tr style="{{ rowStyle }}">
      <th style="{{ nameStyle }}">Комментарий</th>
      <td style="{{ valueStyle }}">{{ comment }}</td>
    </tr>
  </table>
{% endblock %}
