@import '../../assets/variables.css';

.VideoBlock {
  width: 100%;
  background: url('/static/images/video-bg.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (--large) {
    height: 600px;
  }

  @media (--small) {
    height: 300px;
  }

  &__play {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__body {
    @media (--large) {
      height: 660px;
      width: 370px;
    }

    @media (--small) {
      width: 300px;
      height: 200px;
    }
  }
}
