@import "../../assets/variables.css";

.HouseBlock {
  background-color: #CCCCCC;
  margin: 20px 0;
  padding-bottom: 40px;

  &__items {
    display: flex;
    justify-content: space-between;

    @media (--small) {
      flex-wrap: wrap;
    }
  }

  &__title {
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
    font-weight: normal;
    margin: 0;
  }

  &__newPrice {
    padding: 0 10px;
  }
}
