@import "../../assets/variables.css";

.HouseBlockItem {
  width: 100%;
  margin: 0 5px;
  background-color: #A0A09F;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);

  @media (--large) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    & > * {
      display: block;

      &:last-child {
        margin-top: auto;
        justify-self: end;
        margin-bottom: 0;
      }
    }
  }

  @media (--small) {
    margin-bottom: 15px;
  }

  &__image {
    width: 100%;
  }

  &__title {
    font-size: 17px;
    color: #ffffff;
    margin: 10px;
    text-transform: uppercase;
    font-weight: normal;
  }

  &__info {
    color: #ffffff;
    font-size: 18px;
    margin: 0 10px 7px 10px;

    span {
      text-decoration: line-through;
    }
  }

  &__link {
    display: block;
    line-height: 46px;
    height: 46px;
    text-align: center;
    color: rgb(94, 94, 94);
    text-decoration: none;
    text-transform: uppercase;
    background-color: #FFFFFF;

    &:hover {
      color: #DE5021;
    }
  }

  &__newPrice {
    text-transform: uppercase;
    margin: 0;
    padding: 10px;
    color: red;
    background-color: white;
    b {
      font-weight: bold;
    }
  }
}
