@import '../../assets/variables.css';

.Header {
  position: fixed;
  width: 100%;
  padding-bottom: 3px;
  border-bottom: 1px solid rgb(85, 26, 139);
  background-color: #ffffff;
  z-index: 2000;

  &__inner {
    @media (--large) {
      padding: 5px;
    }
    @media (--small) {
      padding: 5px 5px 0 5px;
    }
    display: flex;
    justify-content: space-between;
  }

  &__rightBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__phones {
    text-align: right;

    @media (--small) {
      display: none;
    }

    a {
      text-decoration: none;
      font-size: 16px;
      margin: 3px 0;
      display: block;
      color: var(--font-color-link);
    }
  }

  &__icons {
    width: 110px;
    display: flex;
    justify-content: space-between;

    @media (--small) {
      display: none;
    }

    a {
      display: block;
    }
    img {
      height: 30px;
    }
  }
}
