@import '../../assets/variables.css';

.TourLink {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  height: 40px;
  margin: 20px auto;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
  font-size: 18px;
  text-transform: uppercase;
  background-color: rgb(204, 204, 204);
  cursor: pointer;
  max-width: 644px;
  text-decoration: none;

  &:hover {
    background-color: rgb(160, 160, 160);
  }

  & span {
    margin: 0 10px;
  }

  &__wrapper {
    @media (--small) {
      display: none;
    }
  }
}
