@import '../../../assets/variables.css';

.PageTitle {
  margin-top: 0px;
  height: 40px;
  line-height: 40px;
  background-color: rgb(204, 204, 204);
  color: #FFFFFF;
  font-size: 18px;
  font-weight: normal;
  vertical-align: middle;
  text-align: center;
}
