body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#__next {
  height: 100%;
}

.Tour {
  background-size: cover;
  background: url('/static/tour/bg.jpg') 100% 100% no-repeat;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
