@custom-media --large screen and (min-width: 801px);
@custom-media --small screen and (max-width: 800px);

:root {
  --font-family: sans-serif;
  --font-color-default: #605E5E;
  --font-color-header: #000000;
  --font-color-link: #4E2500;
  --color-silver-default: rgb(204, 204, 204);
}
