@import '../../assets/variables.css';

.GenPlan {

  &__title {
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    background-color: rgb(204, 204, 204);
    color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
  }

  &__header {
    display: flex;
    justify-content: center;
  }

  &__headerItem {
    align-items: center;
    display: flex;
    
    @media (--large) {
      margin: 10px 5px;
    }
    @media (--small) {
      margin: 0 5px;
    }
  }

  &__headerItemTitle {
    @media (--large) {
      margin: 0 0 0 10px;
      color: #666;
      font-size: 14px;
    }

    @media (--small) {
      color: #666;
      font-size: 10px;
      margin-left: 5px;
    }
  }

  &__plan {
    position: relative;

    img {
      width: 100%;
    }

    svg {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
