.ToolTip {
  position: fixed;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  line-height: 1.3em;
  border-radius: 3px;
  overflow: hidden;
  width: 200px;
  animation: show-tooltip 0.3s;

  img {
    width: 100%;
    font-size: 0;
    line-height: 0;
    display: block;
    margin: 0;
    padding: 0;
  }

  &__address {
    background-color: grey;
    color: white;
    padding: 10px;
    margin: 0;
    font-size: 16px;
    font-width: normal;
  }

  &__price {
    color: grey;
    padding: 10px;
    margin: 0;
    font-size: 16px;
  }

  &__oldPrice {
    text-decoration: line-through;
    font-size: 12px;
  }

  &__newPrice {
    color: red;
  }
}

@keyframes show-tooltip {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

