@import '../../assets/variables.css';

.Contacts {
  
  @media (--large) {
    display: flex;

    & > * {
      margin: 10px;
      width: 50%;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
