@import '../../assets/variables.css';

.MapItem {
  @media (--large) {
    display: flex;
  }

  @media (--small) {
    display: block;
  }

  @media (--small) {
    margin-bottom: 10px;
  }

  & > * {
    @media (--large) {
      width: 50%;
    }
  }

  &__content {
    color: rgb(94, 94, 94);

    @media (--small) {
      margin-bottom: 10px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: normal;
  }

  &__text {
    & p {
      @media (--large) {
        padding-right: 30px;
      }
    }
  }

  &__map {

  }
}
