@import '../../assets/variables.css';

.Banner {
  &__small {
    text-align: center;
    margin: 5px 0;
    background-color: #F1C93A;
    
    img {
      margin: 0;
      padding: 0;
      display: block;
      margin: 0 auto;
    }
    @media (--large) {
      display: none;
    }
  }

  &__gross {
    @media (--small) {
      display: none;
    }
  }
}
